.container {
    display: flex;
    background-color: #D3D3D3;
    width: 90%;
    justify-content: center;
    flex-direction: column;
}

.content {
    text-align: left;
    display: flex;
    background-color: white;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
}

.btn-container {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
}