.container {
    display: flex;
    background-color: #F0F0F0;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.content {
    text-align: left;
    display: flex;
    background-color: white;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}
#lenSel {
    width: 25%;
    height: 35px;
    margin-bottom: 25px;
}
#password {
    height: 100px;
    border-width: 2px;
    border-style: dashed;
    border-color: silver;
}

.btn-container {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 15px;
}
#generate {
    width: 25%;
    height: 35px;
    background-color: teal;
}
#copy {
    width: 25%;
    height: 35px;
    background-color: silver;
}