.container {
    display: flex;
    background-color: #D3D3D3;
    width: 90%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content {
    text-align: left;
    display: flex;
    background-color: white;
    margin: 2%;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.btn-container {
    display: flex;
    background-color: white;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    margin-top: 10px;
}
#generate {
    width: 25%;
    height: 35px;
    background-color: teal;
}
#copy {
    width: 25%;
    height: 35px;
    background-color: silver;
}